a {
    text-decoration: none;
    color: #000;
}
footer {
    background-color: #343a40!important;
}
footer a{
    color: #fff!important;
}
footer{
    color: #fff!important;
}
#about p{
    padding: 5px;
}