a {
    text-decoration: none;
    color: #000;
}

footer {
    background-color: #343a40 !important;
}

footer a {
    color: #fff !important;
}

footer {
    margin-top: 20px;
    color: #fff !important;
}

#about p {
    padding: 5px;
}

.card {
    width: 100%;
    margin-top: 20px;
    overflow-y: hidden;

}